# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

!Checkers/Checkers/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

!SDL2-devel-2.0.5-VC/SDL2-2.0.5/lib/x86/*
!SDL2_image-devel-2.0.1-VC/SDL2_image-2.0.1/lib/x86/*
!glew-2.0.0/lib/Release/Win32/*
!DevIL\ Windows\ SDK/lib/x86/Release/*

# Executables
*.exe
*.out
*.app
Checkers/Checkers.VC.VC.opendb


# PyCharm
LevelEditor(NEW)/.idea/*