# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

!Checkers/Checkers/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

!SDL2-devel-2.0.5-VC/SDL2-2.0.5/lib/x86/*

# Executables
*.exe
*.out
*.app
Checkers/Checkers.VC.VC.opendb


# PyCharm
LevelEditor(NEW)/.idea/*